.iconContainer {
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  .iconContainer a {
    color: #7ec8e3; 
    transition: color 0.3s ease;
  }
  
  .iconContainer a:hover,
  .iconContainer a:focus {
    color: #fe5186;
    outline: none;
    cursor: pointer;
  }
  